<h1>{{name}}</h1>
<h2>List of heroes!</h2>
<div>
    <ul class="heroes">
        <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
            <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
        </li>
        <li>
            <label>Hero Name</label>
            <input #heroName />
            <button (click)="add(heroName.value); heroName.value = '' ">Add Hero</button>
        </li>
    </ul>
</div>
<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="goToDetail()">View Details</button>
</div>